NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=inventracker-f1229.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=inventracker-f1229
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=inventracker-f1229.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=754519240035
NEXT_PUBLIC_FIREBASE_APP_ID=
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=
