# macOS
.DS_Store

# Node
node_modules
npm-debug.log*

# Build artifacts
.next
dist
coverage
playwright-report
test-results

# Env
.env
.env.*
!.env.example

# Firebase emulator
.firebase-emulator-data

# Python
__pycache__
